:host {
    background-color: var( --wf-menu-bar-background-color ) ;
    display: flex;

    .header {
        display: none;
    }

    .body {
        .nav-items {
            padding: 15px 0;
            a.nav-item {
                display: inline-flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                font-size: 15px;
                text-decoration: none;
                cursor: pointer;
                height: var( --wf-menu-bar-item-row-height );
                border-right: 1px solid var( --wf-menu-bar-divider-color ) ;

                .label {
                    color: white;
                    min-width: 200px;
                    text-align: center;
                }

                &:hover {
                    font-weight: var( --wf-menu-bar-font-weight );
                }
                &.active {
                    font-weight: bold;
                    color: var( --wf-menu-active-color );    
    
                    .label{
                        color: white;
                        text-decoration: underline;
                        text-underline-offset: 5px;
                        text-decoration-thickness: 2px;
                    }
                }
            }
        }
    }
}
