:host {
    color: var( --pit-header-color );
    background-color: var( --pit-header-background-color );
    border-bottom: var( --pit-header-border-color );
    border-bottom-style: solid;
    border-bottom-width: 2px;
    height: var( --pit-header-height );
    display: flex;
    align-items: center;
    position: relative;
    cursor: default;

    .can-click {
        cursor: pointer;
    }

    .bc-logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        width: 50%;
        padding-left: var(--pit-gutter);
        overflow-x: visible;

        .bc-service-logo {
            display: inline-block;
            background-image: url( './images/bcgov-logo.png' );
            background-size: auto auto;
            background-position: left center;
            background-repeat: no-repeat;
            height: var( --pit-header-bc-service-logo-height );
            width: calc(var(--pit-header-bc-service-logo-height) * 5);
        }
    }

    .app-logo-and-title {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;

        .separator {
            border-left: 1px solid white;
            width: 0;
            height: 20px;
            margin: 0 15px;
        }

        .title {
            font-size: 18px;
            white-space: nowrap;
        }

        .environment {
            font-size: 15px;
            color: var( --pit-header-environment-color );
            margin-bottom: 10px;
            margin-left: 5px;
        }
    }

    .system-and-user-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;

        width: 50%;
        padding-right: var(--pit-gutter);

        .row {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin: 2px 0;
        }

        .userLogout, .support-menu {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        .userName {
            white-space: nowrap;
            margin-left: 6px;
        }

        .training {
            white-space: nowrap;

            &.can-click:hover {
                text-decoration: underline;
            }
        }

        .separator {
            border-left: 1px solid white;
            width: 0;
            height: 20px;
            margin: 0 15px;
        }
    }

    .menu {
        display: none;
    }
}

:host-context( .device-mobile ) {
    .app-logo-and-title {
        justify-content: flex-end;

        .separator {
            display: none;
        }

        .title {
            display: none;
        }

        .environment {
            display: none;
        }
    }

    .system-and-user-info {
        display: none;
    }

    .menu {
        display: flex;
        z-index: 1;
        padding-right: var(--pit-gutter);
        width: 50%;
        justify-content: flex-end;
    }
}
