:host {
    mat-expansion-panel {
        box-shadow: none;

        &.mat-expanded {
            overflow: unset;        
        }

        ::ng-deep {
            .mat-expansion-panel-header {
                height: 36px;
                padding-left: var(--wf1-gutter-space);
                flex-direction: row;

                .mat-content {
                    flex: unset;

                    .mat-expansion-panel-header-title {
                        color: #38598A;
                        font-weight: 400;
                        margin-right: 8px;
                    }

                    .mat-expansion-panel-header-description {
                        display: none;
                    }
                }
            }

            .mat-expansion-panel-content {
                margin-left: var(--wf1-gutter-space);
                margin-right: var(--wf1-gutter-space);

                .mat-expansion-panel-body {
                    padding-top: 0;
                    padding-left: 10px;
                    padding-right: 10px;
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                    background-color: var( --wf-colour-lighter-grey );
                    border: 1px solid var( --wf-colour-light-grey );
                    flex: 1;
                    display: flex;
                    flex-flow: row wrap;
                
                    > * {
                        margin: 6px;
                        display: flex;
                    }                
                }    
            }
        }
    }
}
