<wf-filter-field label="Search" class="search"> 
    <input 
        aria-label="Search" 
        [(ngModel)]="searchText" 
        (ngModelChange)="onSearch()"
        placeholder="Search..."
    >

    <button matSuffix mat-icon-button
        *ngIf="searchText"
        aria-label="Clear" 
        matTooltip="Clear"
        (click)="searchText = undefined; onSearch(); $event.stopPropagation()"
    >
        <mat-icon>close</mat-icon>
    </button>
</wf-filter-field>

<ng-content></ng-content>

<wf-filter-field class="reset"> 
    <button mat-raised-button color="secondary" 
        (click)="onReset()"
    >
        Reset
    </button>
</wf-filter-field>
